
body{
    background-color: #5c1b69;

     
  color: rgb(250, 242, 242);

    
} 
header {
    
    background-color:#341539; width: 100% ; height: 50px; margin-top: 5px;



    h1{text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;   }
    
}









a{ font-size:20px
}


a{
    color: #e498c1;
} 
a:hover{
    color: black;
}
.ddiv{text-align: center; justify-content: center; margin-top: 30px;}
.ajuste{
    text-align: center; margin-top: 105px; 
}
footer{ 
    background-color: #341539; margin-top: 200px;


}



.frase{
    font-family:Georgia, 'Times New Roman', Times, serif; text-align: center;
}




.fer{
 background-color:#341539; text-align: center; margin-top: 100px;  height: 50px; font-family:Georgia, 'Times New Roman', Times, serif;
}







.sobremim{

    header{
        
background-color: color(from color srgb r g b); h1{font-family:Georgia, 'Times New Roman', Times, serif;}
}

}




.contatos{

    header{

background-color: #341539; h1{font-family:Georgia, 'Times New Roman', Times, serif;}

    }
.insta{
 text-align: center; margin-top: 105px; 
}
.email{
    text-align: center;
}  


.git{
    text-align: center; 
}
 
.con{
    a{font-size: 60px;}
}


}
.tec img{
    height: 500px;
}
.fer img{
    height: 500px;
}
.fotos img{
    height: 300px;
  
  
  
}